/* Colors reference
Text colors
primary colors (grey) #333333
secondary colors (grey lighter) #444444
link color: light blue #75a3e7
page background color white #ffffff
*/

/* Typography */
body {
  font-family: 'Roboto', sans-serif; /* set body font*/
  font-size: 18px; /* body font size to 16px */
  line-height: 1.6; /* body line height is set to 1.6 */
  font-weight: 400; /* font weight is set to thin, 100 */
}
h1 {
  font-size: 32;  /* h1 font size to 30px */
  font-weight: 500; /*h1 font weight is bold, 500 */
  font-variant: small-caps; /* h1 all lowercase into small caps */
}
h2 {
  font-size: 26;  /* h2 font size to 24px */
  font-weight: 500; /*h2 font weight is bold, 500 */
  font-variant: small-caps; /* h2 all lowercase into small caps */
  }
h3 {
  font-size: 22px;  /* h3 font size to 18px */
  font-weight: 400; /*h3 font weight is regular, 400 */
  font-variant: small-caps; /* h3 all lowercase into small caps */
}

/* Margins and padding */
div {
  padding: 10px; /* all elements will have a 10px padding on all sides */
  margin: 10px; /* all elements will have a 10px marging on all sides */
}

/* Links */
a {
  /* link color light blue */
  color: #75a3e7
  /* no underline in link */
  text-decoration:none;
}
a:visited {
  /*visited link*/
  color: #75a3e7;
}
a:hover,
a:focus {
  /*hover over link underline*/
  text-decoration:underline;
}
a:active {
  /*selected link*/
  text-decoration:underline;
}

/* Button */
button {
  /*overwrite browser defaults */
  border:none;
  font-family: inherit; /* take it from the outer container */
  font-weight: 500;
  /*style button */
  color: white !important;
  background-color: #75a3e7;
  text-decoration: none;
  font-variant: small-caps;
  padding: 10px 20px;
  border-radius: 3px;
  border-bottom: 0px;
  transition: 0.4s opacity;
}
button:hover,
button:focus {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
}
